<h1>
  Pokemon Type Chart</h1>
<div id="app">
  <table class="table table-sm table-bordered">
    <thead>
      <tr>
        <th>Types</th>
        <th v-for="(type,typeName) in types" :class="getTypeClass(typeName)"> {{typeName}}</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(type,typeName) in types">
        <th :class="getTypeClass(typeName)">{{typeName}}</th>
        <td v-for="(vsTypeEff,vsTypeName) in type" :class="getEffClass(vsTypeEff)">{{vsTypeEff}}</td>
      </tr>
    </tbody>
  </table>
</div>